/*me quiero matar con sass, no lo entiendo (⁠ꏿ⁠﹏⁠ꏿ⁠;⁠)
esta semana meto repaso*/
.logo{
display: none;
}

.lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    font-style: italic;
    font-weight: bold;
}

#cuerpo-inicio{
    font-size: x-large;
}

